@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;

    background: var(--color-background);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr 1fr 1fr;

    grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . ."
    ;
}